<div class="containe-fluid">
	<div class="row mt-4 align-items-end">
		<div class="col">
			<div class="title hey">Hey</div>
		</div>
		<div class="col-6">
			<div>
				<img src="./../assets/Project(Duck)1 (1).svg" alt="duck">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-9">
			<div class="title yellow">Stuck Duck <span>!</span></div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col">
			<h2 class="sub-heading">Becuase we all get stuck</h2>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-10">
			<p>
				Dolor aute nulla veniam commodo ullamco sit laborum ipsum exercitation anim cupidatat eu quis laboris aute.
				Irure incididunt incididunt cupidatat deserunt excepteur. Laborum ex magna anim qui aliquip aute irure
				adipisicing consectetur commodo fugiat. Minim pariatur non proident et cillum eu quis anim. Sint cupidatat
				voluptate proident. Aliqua id elit in ea occaecat ex tempor amet duis. Tempor do dolore Lorem velit ad anim sit
			</p>
		</div>
	</div>
	<sd-input-box></sd-input-box>
</div>